<div id="thequestion">
  <div class="theuser">
    <%= @question.user.name %>
  </div>
  <div class="thesubject">
    <%= @question.subject %>
  </div>
  <div class="question">
    <%= @question.question %>
  </div>
</div>



  <div id="answserslist">
      <% Answer.where('question_id = ?', @question.id).each do |answer| %>
      <div id="answer">
        <div class="user">
          <%= link_to answer.user.name, user_path(answer.user) %>
        </div>
        <div class="content">
          <%= raw(answer.content) %>
        </div>        
      </div>
      <% end %>
  </div>

<% if user_signed_in? %>

  <%= form_for(Answer.new(params[:answer])) do |f| %>

    <div class="field">
      Quick Answer<br />
      <%= f.text_area :content, :class => "redactor" %>
    </div>

      <%= f.hidden_field :question_id, :value => @question.id %>

      <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>

<p>
  <b>Status:</b>
  <%= @question.status %>
</p>

<p>
  <b>Is solved:</b>
  <%= @question.is_solved %>
</p>

<p>
  <b>Featured:</b>
  <%= @question.featured %>
</p>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
