
<% unless Question.order("created_at").last.nil? %>
<div id="introquestionsmodule">
  <div class="lastone">
    <strong><%= Question.last.subject %></strong></br>
    <%= raw(Question.last.question) %>
  </div>
  <div class="listcategories">
    <ul>
      <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


<% unless user_signed_in? %>
<div id="connectmodule">
	<div class="insideconnect">
		<div class="normallogins">
			<div class="big">
				Discover great projects with your friends!
			</div>
			You can use our form either to <%= link_to 'register', "#register", :class => "openModal" %> or to <%= link_to 'login', "#login", :class => "openModal" %>
		</div>
		<div class="sociallogins">
			<a href="" class="facebook">Connect with Facebook</a>
		</div>
	</div>
</div>
<% end %>

<div id="explanationmodule">
	<div class="insideexplanation">
		<div class="big">
			Where answers come from
		</div>
		<div class="text">
			Each and every Kickstarter project is the independent creation of someone like you. 
Want to know more about how projects happen, or start your own?
		</div>
	</div>
</div>