

<%= form_for(@project, :html =>{:multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= f.hidden_field :user_id, :value => current_user.id %>

<div id="stepbystep" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">

      <div id="projectssheader">
        <div class="big">
          Meet your new project.
        </div>

        <div class="desc">
          Start by giving it a name, a pic, and other important details.
        </div>
      </div>

      <div id="projectforms">
        
        <div class="questionscolumn">

          <div class="projectform">
           <div class="label">Nom de votre projet</div>
            <div class="form"><%= f.text_field :title %></div>
          </div>



          <div class="projectform">
           <div class="label">Une miniature de votre projet</div>
            <div class="form"><%= f.file_field :miniature %></div>
          </div>



          <div class="projectform">
            <div class="label">Categorie</div>
            <div class="form"><%= f.number_field :project_category_id %></div>
          </div>



          <div class="projectform">
            <div class="label">Abstract</div>
            <div class="form"><%= f.text_area :abstract, :rows => 5 %></div>
          </div>


          <div class="projectform">
            <div class="label">Localisation</div>
            <div class="form"><%= f.number_field :location_id %></div>
          </div>


        </div>

        <div class="sidesteps">

          <div class="steps">
            steps here
          </div>
          
          <div class="stepscroller">
            <a href="#stepbystep" data-slide="prev">Précédent</a>
            <a href="#stepbystep" data-slide="next">Suivant</a>
          </div>
          

        </div>

      </div>


</div>

<div class="item">
  
  <div id="projectssheader">
    <div class="big">
      It’s not just a project, it’s a story.
    </div>

    <div class="desc">
      Tell it with a video. It doesn’t have to be fancy, it just has to be you.
    </div>
  </div>

      <div id="projectforms">
        
        <div class="questionscolumn">

          <div class="projectform">
            <div class="label">Lier une video à votre projet</div>
            <div class="form"><%= f.text_area :video, :rows => "1" %></div>
          </div>

          <div class="projectform">
            <div class="label">Description</div>
            <div class="form"><%= f.text_area :description, :rows => "5" %></div>
          </div>

          <div class="projectform">
            <div class="label">Challenges</div>
            <div class="form"><%= f.text_area :challenges, :rows => "5" %></div>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>

        </div>

        <div class="sidesteps">

          <div class="steps">
            steps here
          </div>
          
          <div class="stepscroller">
            <a href="#stepbystep" data-slide="prev">Précédent</a>
            <a href="#stepbystep" data-slide="next">Suivant</a>
          </div>
          

        </div>
        

      </div>

    </div>

  </div>
</div>

<% end %>
