<h1>Listing projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Miniature</th>
    <th>Project category</th>
    <th>Abstract</th>
    <th>Location</th>
    <th>Video</th>
    <th>Description</th>
    <th>Challenges</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.slug %></td>
    <td><%= project.miniature %></td>
    <td><%= project.category_id %></td>
    <td><%= project.abstract %></td>
    <td><%= project.location_id %></td>
    <td><%= project.video %></td>
    <td><%= project.description %></td>
    <td><%= project.challenges %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
