<div id="questionscategory">


    <div class="tree">
    	<a href="">Home</a>
    </div>
	
	<div class="container-header">
		<div class="category-label">
			<%= @category.name %>
		</div>

		<div class="category-description">
			<%= raw(@category.description) %>
		</div>
	</div>

	<div id="questionslist">
	  	<% Question.where('category_id = ?', @category.id).each do |question| %>
	  	<div class="question">
	    	<%= link_to question.user.name, user_path(question.user) %> asked <%= link_to question.subject, question_path(question) %>
	  	</div>
	  	<% end %>
	</div>
</div>




<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
