<!DOCTYPE html>
<html>
<head>
  <title>Staritup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=446791745405516";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<header>
  <div class="logo">
    minilogoblanc.png
  </div>

  <div class="menu">

    <ul>
      <li><%= link_to 'Who are we?', 'presentation' %></li>
      <!-- <li><%= link_to "Ask for Coaching", categories_path() %></li>-->
      <li><%= link_to "Ask Questions", questions_path() %></li>
      <li><%= link_to "Start a Project", startprojects_path() %></li>
      <li><input type="text" size="30"></li>
    </ul>
    
  </div>

  <div class="personal">

    <ul>
      <% unless user_signed_in? %>
      <li><%= link_to 'Sign In', login_path() %></li>
      <li><%= link_to 'Sign Up', register_path() %></li>
      <% end %>

      <% if user_signed_in? %>
      <li><%= link_to current_user.username, user_path(current_user) %></li>
      <li><%= link_to "Logout", logout_path() %></li>
      <% end %>
    </ul>

  </div>
</header>


<!-- <a id="simple-menu" href="#sidr"><%= image_tag 'icons/arrow.png', :class => 'toggle' %></a>
 
<div id="sidr">

  <div class="logo"><%= image_tag 'minilogoblanc.png' %></div>
  <div class="userbox">
    <% unless user_signed_in? %>
      <%= link_to 'Sign In', "#login", :class => "openModal" %> <%= link_to 'Sign Up', "#register", :class => "openModal" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to (image_tag 'icons/idea.png', :size => '9x12')+' Add a Project', user_path(current_user) %>
    </br></br></br></br>
      <% if current_user.website? %>
        <%= link_to (image_tag 'icons/web.png', :size => '12x12'), 'http://'+current_user.website %>
      <% end %>
    <% end %>
  </div>
 

  <ul>
    <li class="active"><a href="#">List 1</a></li>
    <li class="active"><a href="#"><%= image_tag 'icons/brain.png', :size => '14x14' %> Trouver des réponses</a></li>
    <% Category.all.each do |category| %>
    <li><a href="#"><%= category.name %></a></li>
    <% end %>
    <li class="active"><a href="#">List 2</a></li>
    <li><a href="#">List 3</a></li>
  </ul>


</div>
 -->
<%= yield %>


<div id="footer">
  <div class="footercontainer">

    <div class="sitemap">

      <div class="element">
        <div class="big">
          Discover
        </div>
        <div class="list">
          <ul>
            <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
            <% end %>
          </ul>
        </div>
      </div>

      
      <div class="element">
        <div class="big">
          Create
        </div>
        <div class="list">
          <ul>
            <li>A New Project</li>
            <li>A Question</li>
            <li>A Business Plan</li>
          </ul>
        </div>
      </div>
      
      <div class="element">
        <div class="big">
          Stay Connected
        </div>
        <div class="list">
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="sponsors">

      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">…</div>
          <div class="item">…</div>
          <div class="item">…</div>
        </div>
      </div>

    </div>

    <div class="bottommenu">
      <div class="bottomlogo">
        Staritup
      </div>

      <div class="bottomlinks">
        <ul>
          <li>Help</li>
          <li>Contact</li>
          <li>Privacy Policy</li>
          <li>© 2013 MBreath, Inc</li>
        </ul>
      </div>
    </div>
  </div>
</div>
 
<script>
$(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>

</body>
</html>
